<%= form_with(model:[@reservation], local: true, id: "confirm-reservation") do |f| %>
  <div class="form-group">
    <%= f.label :予約日 %>
    <%= @reservation.reservation_day %>
    <%= f.hidden_field :reservation_day, :value => @reservation.reservation_day %>
  </div>
  <div class="form-group">
    <%= f.label :開始時間 %>
    <%= @reservation.reservation_time %>：00
    <%= f.hidden_field :reservation_time, :value => @reservation.reservation_time %>
  </div>
  <div class="form-group">
    <%= f.submit "登録",  class: 'btn btn-success' %>
  </div>
  <div class="form-group">
    <%= f.submit "修正", name: :back,  class: 'back-btn' %>
  </div>
<% end %>