<div class="event-calendar">
　<p><%= @today.strftime("< %Y / %m >") %></p>
  <table>
    <tbody>
      <tr class="week">
        <th><%= @today.strftime("%Y年") %></th>
        <% t('date.abbr_day_names').each do |day_name| %>
          <% if day_name == "Sun" %>
            <td id="week_view" style="background: rgb(204, 0, 0); color: rgb(255, 255, 255);">
              <%= day_name %>
            </td>
          <% elsif day_name == "Sat" %>
            <td id="week_view" style="background: rgb(0, 51, 204); color: rgb(255, 255, 255);">
              <%= day_name %>
            </td>
          <% else %>
            <td id="week_view">
              <%= day_name %>
            </td>
          <% end %>
        <% end %>
      </tr>
      <tr class="days">
        <% @calendar_data.each do |date| %>
          <% if date.wday == 0 %>
            <tr>
              <td><%= @today.strftime("%m月") %></td>
          <% end %>
              <td>
                <%= date.day %>
              </td>
          <% if date.wday == 6 %>
            </tr>
            <% hours = [*9..22] %>
            <% hours.each do |hour| %>
              <tr>
                <th><%= hour %>:00</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    </tbody>


    <tr>
      <th><%= @today.strftime("%Y年") %></th>
      <% t('date.abbr_day_names').each do |day_name| %>
        <td>
          <%= day_name %>
        </td>
      <% end %>
    </tr>
    <% @calendar_data.each do |date| %>
      <% if date.wday == 0 %>
        <tr>
      <% end %>
      <td>
        <%= date.day %>
      </td>
      <% if date.wday == 6 %>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>